{% extends "base.html" %}

{% block breadcrumb %}
    <a href="/" class="breadcumb__page no-decoration">Главная</a>
    <span class="breadcumb__del no-decoration">»</span>
    <a href="{% url 'profile:edit_user' %}" class="breadcumb__page no-decoration">Личный кабинет</a>
{% endblock %}

{% block title %}История заказов{% endblock title %}

{% block content %}

<div class="container">
    <div class="row" style="padding-right: 25px;">
        <div class="col-md-12 col-lg-3" >

            <div class="order_cart" style="padding: 5px 5px 5px 5px; text-align: center;  margin-bottom: 10px; line-height: 30px;">
                <a href="{% url 'profile:edit_user' %}" class="">
                    <span class="fa fa-user" aria-hidden="true"></span>
                </a>
                <a href="{% url 'profile:edit_user' %}" style="font-weight: bold;">{{ user.username }}</a>&nbsp;|&nbsp;
                <a href="{% url 'auth_logout' %}" class="">выход <span class="fa fa-sign-in"></span></a>
            </div>

            <div class=""><a href="{% url 'profile:orders_history' %}" class="root_catalog_link">История заказов</a></div>
            <div class=""><a href="{% url 'profile:edit_user' %}" class="root_catalog_link">Редактирование профиля</a></div>
        </div>
        <div class="col-md-12 col-lg-9">
            <h3 class="flow-text">История заказов</h3><br><br>
            {% for order in order_list %}
                <div class="card" style="margin-bottom: 20px;padding: 10px 10px 10px 10px;">
                  <div class="card-heading">
                    <h4 class="card-title">{{ order.created_date }} {% comment %}{{ order.status }}{% endcomment %}</h4>
                  </div>
                  <div class="card-body table-responsive">

                    <table class="table table-hover">
                      {% for order_item in order.orderitem_set.all %}
                                <tr>
                                    <td width="60%"><a href="{% url 'shop:product' order_item.item.category.first.slug order_item.item.slug %}">{{ order_item }}</a></td>
                                    <td width="20%">{{ order_item.cols }} шт.</td>
                                    <td width="20%">{{ order_item.price }}</td>
                                </tr>
                      {% endfor %}
                    </table>
                    <br>
                    <div class=""><b>Итого: {{ order.total_price }}</b></div>
                    {% if order.address != "" %}<div><b>Адрес доставки:</b> {{ order.address }}</div>{% endif %}<br>
                  <b>Статус  заказа:</b>
                  {% for k,v in status_ch %}

                      {% if order.status == k  %}
                      {{ v }}
                      {% endif %}
                    {% endfor %}
                     {% if order.status == 2 %}

                    <a href="{% url 'shop:order-pay' order.pk  %}" class="btn btn-success">Оплатить заказ</a>

                {% endif %}


                  </div>







                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}