{% load thumbnail %}

<div class="d-none d-sm-block">

<div class="row ">
        <div class="col-12 text-center">

            <h1>Товары по акции</h1>

        </div>


    </div>

<div class="row">
            <div class="col-md-1  text-center" style="margin-top: auto;margin-bottom: auto"> <a data-slide="prev" href="#Carousel" id="narrow-left"></a></div>
            <div class="col-md-10">
                <div id="Carousel" class="carousel slide">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">

                                {% for item in offer %}




                                <div class="col-md-3" style="cursor: pointer;">
                                    <div class="bodered_div"><a href="{% url 'shop:product' item.category.first.slug item.slug %}" class="thumbnail" title="{{ item.title }}">

                                        {% thumbnail item.item_image_set.first.file "160x160" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="{{ item.title }}" style="max-width:100%;"></a>
                                        {% endthumbnail %}

                                    </div>
                                    <div class="carusel_text">
                                        <span>{{ item.title }}</span>
                                    </div>
                                </div>



                                    {% if forloop.counter|divisibleby:4 %}


                                        {% if not forloop.last %}

                                                             </div>
                        </div>


                        <div class="carousel-item">
                            <div class="row">

                                            {% endif %}

                                {% endif %}





                                {% endfor %}


                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-1  text-center" style="margin-top: auto;margin-bottom: auto" ><a data-slide="next" href="#Carousel" class="" id="narrow-right" ></a></div>
        </div>
</div>