{% load thumbnail %}
<div class="row justify-content-center big_img_blok">


    <div class="inline_bloks" >
    </div>

    <div class="inline_bloks" id="block1" >
        <a href="/shop/rybalka-i-turizm/"><img  src="/static/images/fish_img.jpg" ></a>
    </div>

    <div class="inline_bloks" >
    </div>

    <div class="inline_bloks" id="block2">
        <a href="/shop/sport/"><img src="/static/images/sport_img.jpg" ></a>
    </div>

    <div class="inline_bloks" >
    </div>

</div>


{% block action %}

        {% include "action.html" %}

{% endblock action %}


<a href="{% url 'video_gallery:list_all' %}" title="Видео обзоры">
        <div class="row" >

            <div class="col-md-12 video_bg mt-5 text center" style="cursor: pointer;">
                <div>
                <img src="/static/images/youtubebutton.png">
                    <h2>НАШИ ВИДЕО ОБЗОРЫ</h2>
                </div>
            </div>

        </div>
</a>


    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Новости</h1>
        </div>
    </div>

    <div class="row text-left">


        <div class="col-md-3 offset-2" style="cursor: pointer;">
<a href="{% url 'news:detail' main_news.all.1.pk %}" title="{{ main_news.all.0.title }} ">

    {% thumbnail main_news.all.0.file_news "200x200" crop="center" as im %}

            <img src="{{ im.url }}" title="{{ main_news.all.0.small_text }}" alt="{{ main_news.all.0.small_text }}">

     {% endthumbnail %}

            <div class="news_block">{{ main_news.all.0.small_text }} </div>
            <div class="news_block_tail">{{ main_news.all.0.published_date }}</div>
</a>
        </div>



        <div class="col-md-3 offset-2" style="cursor: pointer;">
<a href="{% url 'news:detail' main_news.all.1.pk %}" title="{{ main_news.all.0.title }} ">

    {% thumbnail main_news.all.1.file_news "200x200" crop="center" as im %}

            <img src="{{ im.url }}" title="{{ main_news.all.1.small_text }}" alt="{{ main_news.all.1.small_text }}">

     {% endthumbnail %}

            <div class="news_block">{{ main_news.all.1.small_text }} </div>
            <div class="news_block_tail">{{ main_news.all.1.published_date }}</div>
    </a>

        </div>

    </div>

