{% extends 'base.html' %}
{% load thumbnail %}
{% load cms_tags %}

{% block breadcrumb %}
    <a href="/">Главная</a><span class="breadcumb__del no-decoration">»</span>
    <a href="{% url 'shop:list_all'  %}"> Магазин </a><span class="breadcumb__del no-decoration">»</span>
    Корзина

{% endblock %}

{% block title %}Корзина{% endblock title %}

{% block content %}
<div class="container">
  <div align="center" style="margin: 20px 0px 20px 0px"><h1>Ваша корзина товаров</h1></div>

    {% if cart.item_count > 0 %}


{#  <div  class="cart" width="100%" cellpadding="15" cellspacing="15">#}
{#    <thead>#}
      <div class="row" >
        <div class="col-md-2 text-center"><b>Изображение</b></div>
        <div class="col-md-5 text-center"><b>Продукт</b></div>
        <div class="col-md-2 text-center"><b>Количество</b></div>
        <div class="col-md-1 text-center"><b>Цена</b></div>
        <div class="col-md-1 text-center"><b>Стоимость</b></div>
        <div class="col-md-1 text-center"><b>Удалить</b></div>
      </div>
{#    </thead>#}

{#      <tbody>#}



      {% for item in cart.list_items  %}
        {% with product=item.obj %}



          <div class="row mt-3">
            <div class="col-md-2 text-center">

                <div class="thumbnail_container">

                {% if product.item_image_set.first.file %}
                    {% thumbnail product.item_image_set.first.file "50x50" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive img-thumbnail">
                    {% endthumbnail %}
                {% else %}
                      <img src="/static/images/nofoto.jpg" class="img-responsive" width="50"  alt="{{ item_obj.title }}">

               {% endif %}
                </div>

            </div>
              <div class="col-md-5"><a href="{% url "shop:product" product.category.first.slug product.slug %}"> {{ product.title }}</a></div>
            <div class="col-md-2">
                <div class="input-group mb-3" >
                  <input type="number" class="form-control cart-quantity input-number"  value="{{ item.quantity }}" min="0" max="999">
                  <span class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button" onclick="cart.changeQuantity('{{ product.pk }}', $(this).parent().prev('.cart-quantity').val())" title="Изменить количество">
                        <span class="oi oi-loop-square"></span>
                    </button>
                  </span>
                </div>
            </div>
            <div class="col-md-1 num">



                {{ product.price_1 }}


                руб.</div>

          {% if user and not user.is_anonymous  %}
            <div  class="col-md-1 num">{% mult product.price_1 item.quantity %} руб.</div>
          {% else %}
          <div class="col-md-1 num">{% mult product.price_1 item.quantity %} руб.</div>
          {% endif %}
            <div class="col-md-1" align="center">
                <button title="Удалить" class="btn btn-danger" onclick="cart.remove('{{ product.pk }}')"><span class="oi oi-trash"></span></button>
            </div>


            </div>
            <hr>
        {% endwith %}


      {% endfor %}









<div class="row" style="margin: 20px 0px 20px 0px">


<div class="col-md-12 text-right">
      <h4><b>Итого</b> : {{ real_count_cart }} руб.</h4>
</div>
</div>


<div class="row">


<div class="col-md-7"><h4>Данные заказа</h4>
     {% if user and not user.is_anonymous  %}

            <form action="{% url "shop:order-success-post"%}"  method="post">

          {% csrf_token %}
       <table class="table">

<tr>
       <td><b>Имя пользователя:</b></td><td>{{ user }}</td>
   </tr>

  <tr>
       <td><b>ФИО:</b></td><td>{{ userprofile.name }}</td>
   </tr>
     <tr>
       <td><b>Телефон:</b></td><td>{{ userprofile.phone }}</td>
   </tr>
        <tr>
       <td><b>E-mail:</b></td><td>{{ user.email }}</td>
   </tr>


<!--
   <tr>
       <td><b>Оплатить онлайн:</b></td><td> <input type="radio" name="payonline" disabled="disabled" value="True"></td>
   </tr>
  -->
<tr>
    <td><b>Оплата при получении:</b></td><td> <input type="radio" name="payonline" value="False" checked></td>
   </tr>

       <tr>
           <td><b>Способ доставки</b></td><td></td>
       </tr>
       <tr>
           <td>Самовывоз</td><td> <input type="radio" name="delyvery" value="sam" checked></td>
       </tr>
       <tr>
           <td>Почта России</td> <td><input type="radio" name="delyvery" value="post"></td>
       </tr>
       <tr>
           <td>СДЕК</td><td><input type="radio" name="delyvery" value="sdek"></td>
       </tr>
       <tr>
           <td>Boxberry</td><td><input type="radio" name="delyvery" value="box"></td>
       </tr>

       <tr>
           <td><b>Адрес доставки:</b></td><td><input type="text" size="40" class="form-control" name="dost_adres" value="{{ userprofile.adres }}"></td>
       </tr>


           </table>
             <input type="hidden" name="user_name" value="{{ user }}">
            <input type="hidden" name="your_name" value="{{ userprofile.name }}">
            <input type="hidden" name="phone" value="{{ userprofile.phone }}">
            <input type="hidden" name="email" value="{{ user.email }}">


{#<hr>#}
{#    <b>ФИО:</b>     {{ userprofile.name }}<br>#}
{##}
{##}
{#     <b>Необходима доставка1</b> <input type="checkbox" id="dost_need_check" name="dost_need">#}
{##}
{#    <div id="dost_need" style="display: none;"><br><b>Адрес доставки:</b>#}
{##}
{#    <input type="text" size="40" class="form-control" name="dost_adres" value="{{ userprofile.adres }}"><br></div>#}
{##}
{##}
{#    <input type="hidden" name="user_name" value="{{ user }}">#}
{##}
{#    <input type="hidden" name="your_name" value="{{ userprofile.name }}">#}
{#    <input type="hidden" name="phone" value="{{ userprofile.phone }}">#}
{#    <input type="hidden" name="company_name" value="{{ userprofile.company_name }}">#}
{#    <input type="hidden" name="email" value="{{ user.email }}">#}
{#    <input type="hidden" name="inn" value="{{ userprofile.inn }}">#}
{##}
{#    Оплатить онлайн: <input type="radio" name="payonline" value="False">#}
{#    Оплата при получении: <input type="radio" name="payonline" value="True">#}



    {% else %}



   <form action="{% url "shop:order-success-post"%}"  method="post">
       {% csrf_token %}
       <table class="table">
   {{ form.as_table }}


   <tr>
       <td><b>Оплатить онлайн:</b></td><td> <input type="radio" disabled="disabled" name="payonline" value="True"></td>
   </tr>
<tr>
    <td><b>Оплата при получении:</b></td><td> <input type="radio" name="payonline" value="False" checked></td>
   </tr>
       <tr>
           <td><b>Способ доставки</b></td><td></td>
       </tr>
       <tr>
           <td>Самовывоз</td><td> <input type="radio" name="delyvery" value="sam" checked></td>
       </tr>
       <tr>
           <td>Почта России</td> <td><input type="radio" name="delyvery" value="post"></td>
       </tr>
       <tr>
           <td>СДЕК</td><td><input type="radio" name="delyvery" value="sdek"></td>
       </tr>
       <tr>
           <td>Boxberry</td><td><input type="radio" name="delyvery" value="box"></td>
       </tr>

       <tr>
           <td><b>Адрес доставки:</b></td><td><input type="text" size="40" class="form-control" name="dost_adres" value=""></td>
       </tr>


           </table>



    {% endif %}

 <p class="text-center">
    <a href="{% url "shop:list_all"%}" class="btn">Вернуться в магазин</a>
    <input type="submit" class="btn btn-primary"  value="Оформить заказ">
</p>
        {% else %}
            <h2 align="center">Ваша корзина пуста</h2>
            <a href="{% url "shop:list_all"%}" class="btn">Вернуться в магазин</a>
        {% endif %}

    </form>

</div>

    </div>
</div>


{% endblock %}