{% extends "base.html" %}
{% load thumbnail %}
{% load cms_tags %}
{% block breadcrumb %}

        <a href="/" class="breadcumb__page no-decoration">Главная</a>
       <span class="breadcumb__del no-decoration">»</span>

                        <a href="/shop/">Магазин</a>
                    <span class="breadcumb__del no-decoration">»</span>


{% endblock %}

{% block title %}Магазин{% endblock title %}

{% block content %}


    <div class="row justify-content-center big_img_blok">


    <div class="inline_bloks" >
    </div>

    <div class="inline_bloks" id="block1" >
        <a href="/shop/rybalka-i-turizm/"><img  src="/static/images/fish_img.jpg" ></a>
    </div>

    <div class="inline_bloks" >
    </div>

    <div class="inline_bloks" id="block2">
        <a href="/shop/sport/"><img src="/static/images/sport_img.jpg" ></a>
    </div>

    <div class="inline_bloks" >
    </div>

</div>


    {% block action %}

        {% include "action.html" %}

{% endblock action %}


{% endblock content %}







