{% extends "base.html" %}

{% load cms_tags %}

{% load thumbnail %}

{% block breadcrumb %}


           <a href="/" class="breadcumb__page no-decoration">Главная</a>
					<span class="breadcumb__del no-decoration">»</span>
                    <a href="{% url 'shop:list_all' %}"> Каталог </a>
                    <span class="breadcumb__del no-decoration">»</span>
                    {% for parent in current_category.get_ancestors %}
                        <a href="{% url 'shop:detail' parent.slug %}">{{ parent.title }}</a>
                    <span class="breadcumb__del no-decoration">»</span>
                    {% endfor %}
                     <a href="{% url 'shop:detail' current_category.slug %}"> {{ current_category.title }} </a>
                    <span class="breadcumb__del no-decoration">»</span>
                     {{ current_product.title }}

{% endblock %}





{% block title %}{{ current_product.title }} - {{ current_category.title }} - Каталог продукции - CAIMAN {% endblock title %}

{% block content %}

      <style>

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
    input[type='number'] {
    -moz-appearance: textfield;
    }

    </style>

    <div class="container" style="padding-right: 40px;">
    <h1 class="text-center mt-0 mb-4">{{ current_product.title}}</h1>



     <div class="row">
        <div class="col-md-5 ">
            <div class="row">
                <div class="col-md-10" id="item_big_img">
                    {% if not current_product.item_image_set.first %}
                        <img  src="/static/images/nofoto.jpg" width="400">

                     {% else %}

                        <img  src="/static/images/nofoto.jpg" width="400">

                    {% endif %}


                </div>
                <div class="col-md-2 ">
                    {#вывод миниатюр#}


                        {% for variation_image_obj in current_product.item_image_set.all %}

                            <div class="thumbnail_container">
                                {% thumbnail variation_image_obj.file "50x50" crop="center" as im %}
                                {% thumbnail variation_image_obj.file "400x400" crop="center" as big_im %}
                                {% thumbnail variation_image_obj.file "1000x1000" crop="center" as xl_im %}
                                    <img style="cursor:pointer" src="{{ im.url }}" {% if not forloop.first %} data-gallery="item-gallery"{% endif %} data-remote="{{ xl_im.url }}" data-url="{{ big_im.url }}" data-xlurl="{{ xl_im.url }}" class="img-responsive img-thumbnail" alt="{{ variation_image_obj.title }}" title="{{ variation_image_obj.title }}" id="img-{{ variation_obj.pk }}-{{ forloop.counter }}">
                                {% endthumbnail %}
                                {% endthumbnail %}
                                {% endthumbnail %}
                            </div>
                        {% endfor %}


                </div>
            </div>

        </div>



         <div class="col-md-4">


{{ current_product.content|safe }}


         </div>
         <div class="col-md-3 text-center">
                                   <div class="price">Цена: {{ current_product.price_1 }} &#8381;</div><br>
                        <div class="row">
                        <div class="input-group col-md-8 offset-md-2">
                        <div class="input-group-prepend">
                                  <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="v{{ current_product.pk  }}" data-step="{{ category_obj.min_lot }}">
                                    <span class="glyphicon glyphicon-minus">-</span>
                                  </button>
                        </div>
                              <input type="number" style="min-width: 50px;" id="qlt{{ current_product.pk  }}" name="v{{ current_product.pk  }}" class="cart-quantity form-control input-number" value="{% cookie category_obj.item_variation_set.first.pk  %}"  data-step="{{ category_obj.min_lot }}" min="0" max="999">

                                <div class="input-group-append">
                                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="v{{ current_product.pk  }}" data-step="{{ current_product.min_lot }}">
                                      <span class="glyphicon glyphicon-plus">+</span>
                                  </button>
                                </div>
                          </div>
                            </div>

             <br>



                            <button class="btn btn-success btn" onclick="cart.add({{current_product.pk}}, $('#qlt{{current_product.pk}}').val()); true_out=1; left_coock({{current_product.pk}});">В КОРЗИНУ</button>



         </div>




    </div>
    <hr>



    </div>

{% endblock content %}